html {
    padding: 0;
    margin: 0;
  }

  body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    max-width: unset;
    overflow: hidden;
  }

  #container {
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  .lucide-file-up {
      width: 33vw;
      height: 33vw;
      transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    }
    
    .lucide-file-up:hover {
        animation: rotate 0.5s linear forwards;
    }
    
    .scale {
        transition: all 3s cubic-bezier(0.16, 1, 0.3, 1);
    }
    
    .scale:hover {
        /* transform: scale(1.25); */
    }

  .file-up-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 66vw;
    height: 66vw;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(15deg);
    }
    75% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }